# Ignore unnecessary Rproject files
.Rhistory
.Rproj.user
.Renviron

# Ignore private library
renv/library

# Ignore some scripts
src/twitter/create_log_dfs.R
src/twitter/sandbox.R

# 
data/from-twitter/*
!data/from-twitter/tweets.zip
